@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

 @import url('https://fonts.cdnfonts.com/css/impact');

                
*{  margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;}
    .block01{
        width: 100%;
        height: 1080px;
        background-image: url(images/01_bauhaus_school.jpg);
        background-repeat: no-repeat;
        background-position-x: center;
        background-color: black;
        background-size: cover;
        }
    .box01{
        width: 1000px;
        height: 1080px;
        margin: 0 auto;
        position: relative;
    }
    .txt01{
        width: 500px;
        height: 166px;
        background-color:#F9FBE6;
        position: absolute;
        z-index: 10;
        font-family: nanumsquare, sans-serif;
        font-size: 60px;
        line-height: 80px;
        font-weight: 600;
    }
    .txt01_01,.txt01_02{
        font-weight: 800;
    }
   
    .img01{width: 500px;height: 701px;position: absolute;top: 272px;}
    .block02{
        width: 100%;
        height: 1080px;
        background: linear-gradient(to left,#445D7C 15%,
        #8692A0,
        #CFCFCF);
         }
         .box02{
            width: 1000px;
            height: 1080px;
            margin: 0 auto;
            position: relative;
         }
        
        .txt02{
        width: 250px;
        height: 136px;
        background-color:#F9FBE6;
        position: absolute;
        z-index: 10;
        font-family: nanumsquare, sans-serif;
        font-size: 33px;
        line-height: 40px;
        padding-top: 10px;
        font-weight: 600;
        }       
        .txt02_01,.txt02_02{
            font-weight: 800;}
       
        .txt03{
            font-family: 'Impact', sans-serif;
            font-size: 40px;
            padding-left: 609px;
            padding-top: 670px;
            z-index: 10;
            position: relative; 
            
        }
        .word01{
            font-family: nanumsquare, sans-serif;;
            width: 1000px;
            height: 210px;
            padding-top: 168px; 
            /* padding-left: 9px; */
            font-size: 20px;
            line-height: 20px;
        }   
        .word01_01{
            padding-top: 10px;
        }
        .word01_02{
            padding-top: 10px;
        }
        .img02{
            width: 971.59px;
            height: 171px;
            position: absolute;
            top: 479px; 
        }
        .img03{
            width: 500px;
            height: 576.19px;
            position: absolute;
            top: 471px;
            left: 488px;
        }

    .block03{
        width: 100%;
        height: 1080px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-image: url(images/05_sony_trinitronTV.png);
        }
        .box03{
            width: 1000px;
            height: 1080px;
            margin: 0 auto;
            position: relative;
        }
        .txt04{
        width: 250px;
        height: 136px;
        background-color:#F9FBE6;
        position: absolute;
        z-index: 10;
        font-family: nanumsquare, sans-serif;
        font-size: 33px;
        line-height: 35px;
        padding-top: 10px;
        font-weight: 600;
        }
        .txt04_01{
            font-weight: 800;
        }
        .word02{
            font-family: nanumsquare, sans-serif;
            width: 880px;
            height: 680px;
            padding-top: 255px; 
            padding-left: 120px;
            font-size: 19px;
            line-height: 20px;
            
            }
            .word02_01,.word02_02,.word02_03,.word02_04
            ,.word02_05,.word02_06,.word02_07
            {
                padding-top: 10px;
            }
        .img04{
            width: 194px;
            height: 56px;
            position: absolute;
            top: 180px; 
            left:120px ;
            }

         
    .block04{
        width: 100%;
        height: 1080px;
        background-color: #E9E9E9
        } 
        .box04{
            width: 1000px;
            height: 1080px;
            margin: 0 auto;
            position: relative;
        }
        .txt05{
            width: 250px;
            height: 136px;
            background-color:#F9FBE6;
            position: absolute;
            z-index: 10;
            font-family: nanumsquare, sans-serif;
            font-size: 35px;
            line-height: 50px;
            padding-top: 20px;
            font-weight: 600;
            }
        .txt05_01{
            font-weight: 800;
        }
       .img05,.img06,.img07,.img08
       {
        width: 200px;
        height: 200px;
        position: absolute;
        background-color: #7d7d7d;
       }
       .img05{
        top: 180px;
       }
       .img06{
        top: 406px;
       }
       .img07{
        top: 638px;
       }
       .img08{
        top: 869px;
       }
    .word03_01{
        font-family: 'Impact', sans-serif;
        padding-top: 173px;
        padding-left: 241px;
        font-size: 35px;
    }
    .word03_02{
       padding-top: 10px;
        padding-left: 241px;
        }
    .word03_03{
        font-weight: 600;
    }
    .img09{
        width: 70px;
        height: 70px;
        left: 874px;
        top: 148px;
        position: absolute;
    }
    .word03_04{
        font-family: 'Impact', sans-serif;
        padding-top: 105px;
        padding-left: 241px;
        font-size: 35px;
        }
    .word03_05{
        padding-top: 10px;
        padding-left: 241px;
        font-size: 15px;
        }
    .word03_06{
        font-weight: 600;
        }
    .img10{
        width: 70px;
        height: 70px;
        left: 839px;
        top: 385px;
        position: absolute;
    }
    .word03_07{
        font-family: 'Impact', sans-serif;
        padding-top: 105px;
        padding-left: 241px;
        font-size: 35px;
    }
    .word03_08{
        padding-top: 10px;
        padding-left: 241px;
        font-size: 15px;
    }
    .word03_09{
        font-weight: 600;
    }
    .img11{
        width: 70px;
        height: 70px;
        left: 839px;
        top: 597px;
        position: absolute;
    }
    .word03_10{
        font-family: 'Impact', sans-serif;
        padding-top: 100px;
        padding-left: 241px;
        font-size: 35px;
    }
    .word03_11{
        padding-top: 10px;
        padding-left: 241px;
    }
    .word03_12{
        font-weight: 600;
    }
    .img12{
        width: 70px;
        height: 70px;
        left: 881px;
        top: 842px;
        position: absolute;
    }

    .block05{
        width: 100%;
        height: 1080px;
        background-image: url(images/resort.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x:center ;
        }
        .box06{
            width: 1000px;
            height: 1080px;
            margin: 0 auto;
            position: relative;
        }
    .block05_01{
        width:50%;
        height: 1080px;
        background-color: #E9E37F;
        background-size: cover;
        z-index: 10;
    }
    .word04{
        font-family: nanumsquare, sans-serif;
        width: 500px;
         height: 100px;
         padding-top: 20px; 
         padding-left: 3px;
         font-size: 19px;
         line-height: 20px;
    }
    .word04_01{
        font-family: nanumsquare, sans-serif;
        width: 500px;
         height: 185x;
         padding-top: 15px; 
         padding-left: 3px;
         font-size: 19px;
         line-height: 20px;
    }
    .img13{
        width: 232.76px;
        height: 312px;
        padding-left: 125px;
        padding-top: 15px;
    }
    .word04_02{
        font-family: nanumsquare, sans-serif;
        width: 500px;
         height: 145px;
         padding-top: 15px; 
         padding-left: 3px;
         font-size: 19px;
         line-height: 20px;
    }
    .word04_03{
        font-family: nanumsquare, sans-serif;
        width: 500px;
         height: 254px;
         padding-left: 3px;
         font-size: 19px;
         line-height: 20px;
    }
 
    .block06{
        width: 100%;
        height: 1080px;
        background-color:#CFC7BD
        } 
    .box07{
        width: 1000px;
            height: 1080px;
            margin: 0 auto;
            position: relative;
        }
    .word05{
        font-family: nanumsquare, sans-serif;
            width: 1000px;
            height: 210px;
            padding-top: 41px; 
            font-size: 20px;
            line-height: 20px;
        } 
        .word05_01,.word05_02{
            padding-top: 10px;
        }
        .txt06{
        width: 250px;
        height: 195px;
        background-color:#F9FBE6;
        position: absolute;
        z-index: 10;
        font-family: nanumsquare, sans-serif;
        font-size: 35px;
        line-height: 50px;
        top: 361px ;
        font-weight: 600;
        }
        .txt06_01,.txt06_02{
            font-weight: 800;
        }
        .img14{
            position: absolute;
            padding-top: 300px;
        }
        .word06{
            font-family: nanumsquare, sans-serif;
            width: 500px;
            height: 340px;
            padding-left: 500px;
            padding-top: 105px; 
            font-size: 20px;
            line-height: 30px;
        }
        .word06_01{
            padding-top: 10px;
        }
        .footer{
            background-position-x:center ;
            text-align: center;
            width: 100%;
            height: 30px;
            background-color: black;
            position: absolute;
            z-index: 100;
            font-family: nanumsquare, sans-serif;
            font-size: 15px;
            color: white;
            background-size: cover;
            padding-top: 15px;
        }
        a >.top{
            background-color: black;
            font-size: 16px;
            font-family: nanumsquare, sans-serif;
            font-weight: 100;
            letter-spacing: -.5px;
            text-decoration: none;
            color: white;
            width: 60px;
            padding: 17px 0px;
            border-radius: 50px;
            text-align: center;
            text-transform: uppercase;
            position: fixed;
            z-index: 100;
            display: block;
            bottom: 50px; 
            right: 50px;
        }